<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
      <div class="row nav_direction">
          <div class="col-12">
            <ol class="breadcrumb">
              <li><a href="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg></a></li>
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>Configuration</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>Cabinet Access</li>
            </ol>
          </div>
      </div>
      <!-- CONTENT GOES HERE -->
      <div class="h-150 min-h-150 max-h-150 border-2 border-gray-300 bg-wt p-4 table-wrap">
        <div class="page-title">
          <h3>All Cabinet Access</h3>
        </div>
        <div class="btn-panel"><button type="button" (click)="createRegionMapping()">Add Region Mapping</button></div>
          <div class="grid grid-cols-2 gap-2">
              <div>
                  <form [formGroup]="RegionMappingForm">
                      <div class="dataTables_length" id="datatable_length">
                          <select name="DeptIDS" id="DeptIDS"  class="form-control select-box-width" [formControlName]="'DeptIDS'" (change)="geBranchListByUserID($event.target.value)" >
                            <option value="0">Select Cabinet</option>
                            <option  *ngFor="let _Department of _DepartmentList"  [value]="_Department.id">
                              {{ _Department.DepartmentName }}
                            </option>
                          </select>
                        </div>
                  </form>
              </div>
              <div>
                <div class="mt-3 text-right">
                  Search: 
                  <input #search id="search"  type="text"class="search-table form-control w-60 inline-block" aria-label="Search" aria-describedby="basic-addon1"/>
                </div>
              </div>
          </div>
        <div *ngIf="loader">
          <div class="flex items-center justify-center">
            <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div> 
        
        <div *ngIf="displayTable" class="mt-2">
          <ngx-datatable *ngIf="_TemplateList.length > 0" class="material w-full" style="height: 500px;" [rows]="_TemplateList" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [limit]="10" [count]="_TemplateList.length" [scrollbarV]="true">
            
              <ngx-datatable-column name="Sr No.">
                <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column *ngFor="let column of columns; 
                let i = index;" name="{{column.displayName}}"
                prop="{{column.prop}}">
              </ngx-datatable-column>
  
              
              <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="action_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" (click)="editRegionMapping()" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" (click)="deleteTemplate(row)" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>
      </div>
  </div>
</div>

<div class="modal-content" *ngIf="createmodalopen">
  <div class="modal-body p-0">
    <div class=" card">
      <div class=" card-header"><h3 class=" mb-0">{{_PageTitle}}</h3></div>

      <div class="card-body">
        <form class="needs-validation" novalidate="" [formGroup]="AddRegionMappingForm" (ngSubmit)="onSubmit()">
          <div class="form-row">
              <div class="col-md-4">
                <select name="DeptID" id="DeptID"class="form-control select-box-width" [formControlName]="'DeptID'"(change)="getRegionListById($event.target.value)">
                  <option value="0">Select Cabinet</option>
                  <option  *ngFor="let _Department of _DepartmentList" [value]="_Department.id">
                    {{ _Department.DepartmentName }}
                  </option>
                </select>
                  <div class="errorMsg-feedback"
                  *ngIf="tf.DeptID && tf.DeptID.touched && tf.DeptID.invalid && tf.DeptID.errors.required">This field is Required</div>
              </div>
               <div class="col-md-6">
                <input type="text" class="search-box select-box-width" [(ngModel)]="userFilter.BranchName" [ngModelOptions]="{standalone: true}" onkeyup="searchforBranch(BranchName)" placeholder="Search by Folder"/>
              </div>
          </div>
          <div class="form-row">
            <div class="col-md-6">
              <!-- <label class="box-label">Folder List</label> -->
              <ul class="position-relative cust-list">
                <li>
                  <input
                      class="custom-control-input"
                      type="checkbox"
                      id="_checkAllID"
                      (change)="master_change()"
                      formControlName="selectAll"
                      [value]="AddRegionMappingForm.get('selectAll').value"
                    />
                    <label class=" custom-control-label" for="_checkAllID">
                      <div class=" checklist-info">
                        <h3 class=" checklist-title mb-0">{{AddRegionMappingForm.get('selectAll').value?'Unselect ':'Select '}}All</h3>
                      </div>
                    </label>
                </li>
                <li *ngFor="let item of largeDataset | filterBy:userFilter" class="d-flex">
                  <input type="checkbox" [value]="item.BranchID" [checked]="item.ischecked == 1" (click)="selectedItem($event, item)">
                  <label>{{item.BranchName}}</label>
                </li>
              </ul>
            </div>
        </div>
          <div class="form-row">
              <button class=" btn btn-primary" type="button" [disabled]="tf.DeptID.invalid" (click)="onSubmit()">
              Submit
              </button>
              <button type="button" class="btn btn-warning" (click)="closeDialog()">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
