::ng-deep .p-tree {
    max-height: 100vh;
    overflow: auto;
}
::ng-deep .p-datatable-wrapper{
    font-size: 13px !important;
}

.doc-header{
    background: #010f50;
    color: #fff;
    font-weight: 600;
    padding: 10px;
}
.relaod-btn{
    padding: 2%;
    padding-top: 2%;
    margin-left: 2%;
}
.icon-button button{
    padding: 1%;
}