::ng-deep .p-tree {
    max-height: 100vh;
    overflow: auto;
}
::ng-deep .p-datatable-wrapper{
    font-size: 13px !important;
}

.doc-header{
    background: #010f50;
    color: #fff;
    font-weight: 600;
    padding: 10px;
}