::ng-deep .p-tree {
    max-height: 100vh;
    overflow: auto;
}
::ng-deep .p-datatable-wrapper{
    font-size: 13px !important;
}
::ng-deep .p-datatable-thead>thead>tr>th{
    background: #080e2e;
    color: #fff;
    font-weight: 600;
    padding: 10px;
}
.doc-header{
    background: #080e2e;
    color: #fff;
    font-weight: 600;
    padding: 10px;
}