<div class="flex flex-col flex-auto min-w-0">

    <!-- Main content-->
    <div class="flex-auto p-6 sm:p-10">
        <div class="row nav_direction">
            <div class="col-12">
              <ol class="breadcrumb">
                <li><a href="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg></a></li>
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M3 12v3c0 1.657 3.134 3 7 3s7-1.343 7-3v-3c0 1.657-3.134 3-7 3s-7-1.343-7-3z" />
                        <path d="M3 7v3c0 1.657 3.134 3 7 3s7-1.343 7-3V7c0 1.657-3.134 3-7 3S3 8.657 3 7z" />
                      <path d="M17 5c0 1.657-3.134 3-7 3S3 6.657 3 5s3.134-3 7-3 7 1.343 7 3z" />
                    </svg>  
                    Transaction
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                    </svg>  
                    Data Entry
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                    </svg>
                    View
                </li>
              </ol>
            </div>
        </div>

        <div class="h-300 min-h-300 max-h-300 border-2 border-gray-300 bg-wt p-4 table-wrap">
            <div class="page-title">
              <h3>View Data </h3>
            </div>
            <div *ngIf="docLoaded" class="grid grid-cols-3 gap-8">
              <div class="col-span-2">
                  <ngx-doc-viewer
                    *ngIf="docLoaded"
                    [url]="doc"
                    viewer="url"
                    style="width:100%;height:700px;"
                ></ngx-doc-viewer>
              </div>
              <div>
                <form [formGroup]="indexForm" class="grid grid-cols-2 gap-x-20">
                  <div>
                    <label class="custom-form-label">
                      Category
                      <select (change)="getFields()" class="form-control custom-select" formControlName="TemplateID">
                        <option *ngFor="let temp of _TemplateList" [value]="temp.TemplateID">{{temp.TemplateName}}</option>
                      </select>
                      <ng-container *ngIf="!indexForm.controls.TemplateID.valid && indexForm.controls.TemplateID.touched">
                        <span class="validation-error">This field is required</span>
                      </ng-container>
                    </label>
                  </div>

                  <div>
                    <label>
                      Folder
                      <select class="form-control custom-select" formControlName="BranchID">
                        <option *ngFor="let temp of branchList" [value]="temp.BranchID">{{temp.BranchName}}</option>
                      </select>
                      <ng-container *ngIf="!indexForm.controls.BranchID.valid && indexForm.controls.BranchID.touched">
                        <span class="validation-error">This field is required</span>
                      </ng-container>
                    </label>
                  </div>
                  <div class="form-group"
                    formGroupName="_ColNameList"
                    *ngFor="let form_elem of dynamicFIelds"
                    >
                      <ng-container [ngSwitch]="form_elem.FieldType">
                    
                        <ng-container *ngSwitchCase="'1'">
                          <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                            {{ form_elem.DisplayName }}:
                          </label>
                          <input
                          [placeholder]="form_elem.DisplayName"
                          [name]="form_elem.DisplayName"
                          [formControlName]="form_elem.IndexField"
                          [id]="form_elem.IndexField"
                          type="text"
                          class="form-control"
                          minlength="{{ form_elem.MinLenght }}"
                          maxlength="{{ form_elem.MaxLenght }}"
                          />
                        </ng-container>
                        <ng-container *ngSwitchCase="'5'">
                          <label for="{{ form_elem.DisplayName }}">
                            {{ form_elem.DisplayName }}:
                            <input
                            class="form-control"
                            [placeholder]="form_elem.DisplayName"
                            [name]="form_elem.DisplayName"
                            [formControlName]="form_elem.IndexField"
                            [id]="form_elem.IndexField"
                            type="text"
                            class="form-control"
                            minlength="{{ form_elem.MinLenght }}"
                            maxlength="{{ form_elem.MaxLenght }}"
                            />
                            <ng-container *ngIf="!dynamicFieldsControl.controls[form_elem.IndexField].valid && dynamicFieldsControl.controls[form_elem.IndexField].touched">
                              <span class="validation-error">This field is required</span>
                            </ng-container>
                          </label>
                        </ng-container>


                        <ng-container *ngSwitchCase="'2'">
                          <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                            {{ form_elem.DisplayName }}:
                          </label>
                          <input
                          [placeholder]="form_elem.DisplayName"
                          [name]="form_elem.DisplayName"
                          [formControlName]="form_elem.IndexField"
                          [id]="form_elem.IndexField"
                          type="number"
                          class="form-control"
                          minlength="{{ form_elem.MinLenght }}"
                          maxlength="{{ form_elem.MaxLenght }}"
                          />
                        </ng-container>
                        <ng-container *ngSwitchCase="'3'">
                          <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                            {{ form_elem.DisplayName }}:
                          </label>
                          <input
                              [name]="form_elem.DisplayName"
                              [formControlName]="form_elem.IndexField"
                              [id]="form_elem.IndexField"
                              [placeholder]="form_elem.DisplayName"
                              class="form-control"
                              bsDatepicker
                              value="{{ bsValue}}"
                              [bsValue]="bsValue"
                              [bsConfig]="{
                                isAnimated: true,
                                containerClass: 'theme-red',
                                dateInputFormat: 'DD-MMM-YYYY'
                              }"
                            />
                        </ng-container>
                        <ng-container *ngSwitchCase="'4'">
                          <label class="form-control-label" for="{{ form_elem.DisplayName }}">
                            {{ form_elem.DisplayName }}:
                          </label>
                          <select
                          [name]="form_elem.DisplayName"
                          [formControlName]="form_elem.IndexField"
                          [id]="form_elem.IndexField"
                          class="form-control"
                          >
                          <option [value]="0">Select A Value</option>
                          <option
                            [value]="opt"
                            *ngFor="
                              let opt of form_elem.selectValues;
                              let i = index
                            "
                            >{{ opt }}</option>
                          </select>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div style="margin-top: 25%;">
                      <div class="resetsave">
                        <div class="resetsavebts">
                          <button (click)="backToIndex()" class="w-40 bg-transparent hover:bg-red-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
                            Back
                          </button>
                          <button (click)="onSave()" class="w-40 bg-transparent hover:bg-green-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded ml-4">
                            Update
                          </button>
                        </div>
                      </div>
                    </div>
                </form>
              </div>
            </div>
            <div *ngIf="!docLoaded" class="loader-spinner">
              <div class="flex items-center justify-center">
                <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>