
.modal-body{
    padding: 1% 2%;
    width: 90%;
}

li ul {
    padding: 7px 10px;
}
li ul li{
    padding: 5px;
}
.content-wrap{
    display: flex;
    width: 100%;
}
.left-panel{
    width:35%;
    padding: 0.5% 2% 2%;
}
.right-panel{
    width:65%;
    padding: 0.5% 2% 2%;
}