<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="row nav_direction">
            <div class="col-12">
              <ol class="breadcrumb">
                <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg></li>
                <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>User Management</li>
                <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>Role</li>
              </ol>
            </div>
        </div>
        <!-- CONTENT GOES HERE -->
        <div class="h-150 min-h-150 max-h-150 border-2 border-gray-300 bg-wt p-4 table-wrap">
          <div class="page-title">
            <h3>All Roles</h3>
          </div>
          <div class="btn-panel"><button type="button" (click)="CreateRow()">Create Role</button></div>
          <div *ngIf="displayTable">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
              <thead>
                <tr>
                  <th class="text-left">Sr No.</th>
                  <th class="text-left">Role Name</th>
                  <th class="text-left">Remarks</th>
                  <th class="text-left">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let role of dataSource; let i = index;" class="data-tr">
                  <td>{{i + 1}}</td>
                  <td>{{role.roleName}}</td>
                  <td>{{role.remarks}}</td>
                  <td (click)="openMenu(role.id)" class="cursor-pointer"><mat-icon #openmenu >more_vert</mat-icon>
                    <ul class="data-menu row_icon" *ngIf="openlist && role.id == selectedId">
                      <li (click)="editRow(role)"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                      </svg>Edit</li>
                      <li (click)="deleteRow(role.id,role.roleName)"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                      </svg>Delete</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
        </div>
    </div>
</div>

<!--Start of create role modal -->
<div class="modal-content" *ngIf="createmodalopen">
<div class="modal-body">
<div class=" card">
<div class=" card-header"><h3 class=" mb-0">{{_PageTitle}}</h3></div>

<div class="card-body">
  <form  class="needs-validation" [formGroup]="AddRoleForm">
    <div class="content-wrap">
      <div class="left-panel">
        <div class="form-group">
          <label class="form-control-label" for="Role Name">Role Name</label>
          <input type="text" class="form-control" id="roleName" formControlName="roleName" placeholder="Role Name" value="Mark" required />
        </div>
        <div class="form-group pt-4">
          <label class="form-control-label" for="remarks">Remarks</label>
          <input type="text" class="form-control" id="remarks" formControlName="remarks" placeholder="Remark" value="Mark" required />
        </div>
        <div class="form-group pt-4">
          <label class="form-control-label " for="remarks">Access Rights</label>
          <div class="col-sm-10">
            <button class="btn btn-outline-default btn-round">
              <input type="checkbox" formControlName="SelectAllRights"  (change)="OnSelectRightAll()" [value]=""> Select All
            </button>                  
            <ul  style="list-style: none; border-top: 1px solid #eeeff0;" formArrayName="_PageRight">
                <li *ngFor="let right of _PageRight.controls,let i=index" style="padding: 5px;">
                    <ng-container [formGroupName]="i">
                        <input type="checkbox" formControlName="isChecked" [value]="right.get('isChecked').value"><span > {{right.get('page_right').value}}</span>                             
                    </ng-container>

                </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="right-panel">
        <div class="form-group">
          <label class="form-control-label" for="remarks">Pages</label>
          <div class="col-sm-10">
            <button class="btn btn-outline-default btn-round"><input type="checkbox" formControlName="SelectAll"  (change)="OnSelectAll()" [value]=""> Select All</button>
            
            <ul style="list-style: none; border-top: 1px solid #eeeff0;" formArrayName="Roles">
                <li style="display: flex;">
                  <ul style="border-right: 1px solid #eeeff0;">
                    <ng-template ngFor let-role [ngForOf]="roles.controls" let-i="index" >
                    <li *ngIf="i<=1">
                      <ng-container [formGroupName]="i">
                          <input  type="checkbox" formControlName="isChecked" [value]="role.get('isChecked').value" (click)="onCheckParent(role)"><span> {{role.get('page_name').value}}</span>  
                          <ul style="list-style: none;" formArrayName="subItems">
                              <li *ngFor="let subRole of role.get('subItems').controls,let j=index">
                                  <ng-container [formGroupName]="j">
                                      <input type="checkbox" formControlName="isChecked" [value]="subRole.get('isChecked').value" (click)="onCheckChild(role)"><span > {{subRole.get('page_name').value}}  </span>  
                                  </ng-container>       
                              </li>
                          </ul>
                      </ng-container>
                    </li>
                  </ng-template>
                  </ul> 
                  <ul style="border-right: 1px solid #eeeff0;">
                    <ng-template ngFor let-role [ngForOf]="roles.controls" let-i="index" >
                    <li *ngIf="i>1 && i<=3">
                      <ng-container [formGroupName]="i">
                          <input  type="checkbox" formControlName="isChecked" [value]="role.get('isChecked').value" (click)="onCheckParent(role)"><span> {{role.get('page_name').value}}</span>  
                          <ul style="list-style: none;" formArrayName="subItems">
                              <li *ngFor="let subRole of role.get('subItems').controls,let j=index">
                                  <ng-container [formGroupName]="j">
                                      <input type="checkbox" formControlName="isChecked" [value]="subRole.get('isChecked').value" (click)="onCheckChild(role)"><span > {{subRole.get('page_name').value}}  </span>  
                                  </ng-container>       
                              </li>
                          </ul>
                      </ng-container>
                    </li>
                  </ng-template>
                  </ul>
                  <ul style="border-right: 1px solid #eeeff0;">
                    <ng-template ngFor let-role [ngForOf]="roles.controls" let-i="index" >
                    <li *ngIf="i>3">
                      <ng-container [formGroupName]="i">
                          <input  type="checkbox" formControlName="isChecked" [value]="role.get('isChecked').value" (click)="onCheckParent(role)"><span> {{role.get('page_name').value}}</span>  
                          <ul style="list-style: none;" formArrayName="subItems">
                              <li *ngFor="let subRole of role.get('subItems').controls,let j=index">
                                  <ng-container [formGroupName]="j">
                                      <input type="checkbox" formControlName="isChecked" [value]="subRole.get('isChecked').value" (click)="onCheckChild(role)"><span > {{subRole.get('page_name').value}}  </span>  
                                  </ng-container>       
                              </li>
                          </ul>
                      </ng-container>
                    </li>
                  </ng-template>
                  </ul> 
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <button  class="btn btn-primary" type="button" (click)="onSubmit()">
      Submit
    </button>
    <button type="button" class="btn btn-warning" (click)="closeDialog()">Close</button>
  </div>
  </form>
</div>
</div>
</div>
</div>
<!--End of create user modal-->