<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
      <div class="row nav_direction">
          <div class="col-12">
            <ol class="breadcrumb">
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg></li>
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                </svg>Upload</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
                </svg>Data Upload</li>
            </ol>
          </div>
      </div>
      <!-- CONTENT GOES HERE -->
      <div class="h-150 min-h-150 max-h-150 border-2 border-gray-300 bg-wt p-4 table-wrap">
        <div class="page-title">
          <h3>Data Upload</h3>
        </div>
          <div class="w-full">
            <form [formGroup]="DataUploadForm" class="flex grid grid-cols-2 gap-2">
                <div class="dataTables_length" id="datatable_length">
                  <label class=" form-control-label w-3/4" for="UserIDS">
                    <select name="TemplateID" id="TemplateID" class="form-control" formControlName="TemplateID"
                      (change)="geTemplateNameListByTempID($event.target.value)">
                      <option value=0>Select Category</option>
                      <option *ngFor="let _Temp of TemplateList" [value]="_Temp.TemplateID">
                        {{_Temp.TemplateName}}
                      </option>
                    </select>
                  </label>
                </div>
                <div class="grid grid-cols-2 gap-2 dataTables_length" id="datatable_length">
                  <div class="custom-file">
                    <label class="select-btn">Select File</label>
                    <input type="file" name="csvReader" id="csvReader" (change)="uploadListener($event)" accept=".csv" />                
                    <label style="width: 80%;" class=" custom-file-label" for="csvReader">
                      <span class="selected-file-name"></span>    
                    </label>
                  </div>
                  <div class="custom-file flex">
                    <button type="button" class="flex btn btn-primary" (click)="onSubmit()" [disabled]="hasDataError()">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path></svg>
                       Data
                    </button>
                    <button type="button" class="flex btn btn-warning" (click)="downloadFile()">
                      <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4"></path></svg>
                       Format
                    </button>
                  </div>
                </div>
            </form>
          </div>
        <div *ngIf="loader">
          <div class="flex items-center justify-center">
            <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div> 
        <div class="w-full mb-4 mt-5 text-right">
          Search: 
          <input
            #search
            id="search"
            type="text"
            class="search-table form-control w-60 inline-block"
            aria-label="Search"
            aria-describedby="basic-addon1"
          />
        </div>
        <div>
          <ngx-datatable
              class="material"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="_FilteredList"
              (activate)="onActivate($event)"
          >
          <ngx-datatable-column name="SrNo">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [name]="ColName.DisplayName" *ngFor="let ColName of _ColNameList, let j = index" [cellClass]="getCellClass">
              <ng-template let-row="row" ngx-datatable-cell-template>{{row[j]}}
                <span style="display: none;" class="tooltip-span fas fa-info-circle" #tooltipRef [title]="getTooltipDate(tooltipRef)"></span>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
  </div>
</div>

