<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
      <div class="row nav_direction">
          <div class="col-12">
            <ol class="breadcrumb">
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg></li>
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg>Config</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5"  fill="none" viewBox="0 0 24 24" stroke="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"></path>
              </svg>Form Entry</li>
            </ol>
          </div>
      </div>
      <!-- CONTENT GOES HERE -->
      <div class="h-150 min-h-150 max-h-150 border-2 border-gray-300 bg-wt p-4 table-wrap">
        <div class="page-title">
          <h3>All </h3>
        </div>
          <div class="grid grid-cols-2 gap-2">
              <div>
                  <form [formGroup]="ViewCustomeForm">
                      <div class="dataTables_length" id="datatable_length">
                          <label class=" form-control-label" for="UserIDS">
                              <select class="form-control form-control-sm" [formControlName]="'TemplateID'" data-toggle="select" id="TemplateID"
                              (change)="geTemplateNameListByTempID($event.target.value)">
                                  <option value="0"> Select Category</option>
                                  <option *ngFor="let _TL of TemplateList" [value]="_TL.id"  >
                                  {{_TL.TemplateName}}
                                  </option>
                              </select>
                          </label>
                      </div>
                  </form>
              </div>
              <div>
                  <div class="btn-panel"><button type="button" (click)="addFields()">Add Index Field</button></div>
              </div>
          </div>
          <hr>
        <div *ngIf="loader">
          <div class="flex items-center justify-center">
            <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div> 
        <div class="w-full mb-4 text-right">
          Search: 
          <input
            #search
            id="search"
            type="text"
            class="search-table form-control w-60 inline-block"
            aria-label="Search"
            aria-describedby="basic-addon1"
          />
        </div>
        <div *ngIf="displayTable">
          <ngx-datatable
            *ngIf="_FilteredList"
              class="material"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="entries != -1 ? entries : undefined"
              [rows]="_FilteredList"
            >
            <ngx-datatable-column name="SrNo">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
            </ngx-datatable-column>
          
            <!-- <ngx-datatable-column *ngFor="let column of columns; 
              let i = index;" name="{{column.prop}}"
              prop="{{column.prop}}">
            </ngx-datatable-column> -->
            <ngx-datatable-column *ngFor="let column of columns; 
            let i = index;" name="{{column.displayName}}"
            prop="{{column.prop}}">
          </ngx-datatable-column>
            


            <ngx-datatable-column name="Action">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <div class="action_icon">
                <svg xmlns="http://www.w3.org/2000/svg" (click)="RedirectToEdit(row.id)" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" (click)="deleteField(row.id,row.DisplayName)" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                </svg>
              </div>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>  
      </div>
  </div>
</div>

<div class="modal-content" *ngIf="createmodalopen">
  <div class="modal-body p-0">
    <div class=" card">
      <div class=" card-header"><h3 class=" mb-0">{{_PageTitle}}</h3></div>

      <div class="card-body">
        <form class="needs-validation" novalidate=""  [formGroup]="AddCustomForm">
          <div class="form-wrap">
              <div class="form-group">
                <label class="form-control-label" for="IndexField">Category</label>
                <select name="TemplateID" id="TemplateID" class="form-control" formControlName="TemplateID">
                  <option value=0>Select Category</option>   
                  <option *ngFor="let _Temp of TemplateList" [value]="_Temp.id"  >  
                  {{_Temp.TemplateName}}  
                  </option>   
              </select>
              </div>
              <div class="form-group">
                <label class="form-control-label" for="IndexField">Field Name</label>
                <input type="text" class="form-control" id="IndexField" formControlName="IndexField" placeholder="Index Field" value="Mark" required />
              </div>
              <div class="form-group">
                <label class="form-control-label" for="DisplayName">Field Caption (Label)*</label>
                <input type="text" class="form-control" id="DisplayName" formControlName="DisplayName" placeholder="Display Name" value="Mark" required />
              </div>
            <!-- <div class="form-group">
                <label class="form-control-label" for="MinLenght">Min Length</label>
                <input type="text" class="form-control" id="MinLenght" formControlName="MinLenght" placeholder="Min Length" value="Mark" required />
              </div> -->
              <div class="form-group">
                <label class="form-control-label" for="MaxLenght">Length</label>
                <input type="text" class="form-control" id="MaxLenght" formControlName="MaxLenght" placeholder="Max Length" value="Mark" required />
              </div>
              <div class="form-group">
                <label class="form-control-label" for="MaxLenght">Data Type</label>
                <select class=" form-control" data-toggle="select"  formControlName="FieldType" id="FieldType" required>
                  <option value=0 >Select Data Type</option>   
                  <option value=1>Text</option>   
                  <option value=2>Number</option>   
                  <option value=3>Date</option>   
                  <option value=4>Master</option> 
                  <option value=5>Alpha Numeric</option> 
              </select>
              </div>
              <div class="form-group">
                  <label class="form-control-label" for="MaxLenght">Master Data</label>
                  <textarea class=" form-control" id="ListData" rows="3" formControlName="ListData" placeholder="Master Data Seperator by ,"  ></textarea>
              </div>
              <div class="form-group flex">
                <div class="w-50">
                    Required
                    <label class=" custom-toggle custom-toggle-success mr-1">
                      <input checked="checked" type="checkbox" formControlName="IsMandatory"/>
                      <span
                        class=" custom-toggle-slider rounded-circle"
                        data-label-off="NO"
                        data-label-on="YES"              >
                      </span>
                    </label>
                  </div>
                  <!-- <div class="w-50">
                    Random Number 
                    <label class=" custom-toggle custom-toggle-success mr-1"> 
                      <input checked="checked" type="checkbox" formControlName="IsAuto"/>
                      <span
                        class=" custom-toggle-slider rounded-circle"
                        data-label-off="NO"
                        data-label-on="YES"              >
                      </span>
                    </label> 
                  </div>          -->
                </div>
            </div>
          <div class="text-right">
            <button class=" btn btn-primary" (click)="onSubmit()">Save</button>
            <button class=" btn btn-primary"  (click)="OnReset()">Reset</button>
          </div> 
        </form>
      </div>
    </div>
  </div>
</div>
