<div class="flex flex-col flex-auto min-w-0">

    <!-- Main content-->
    <div class="flex-auto p-6 sm:p-10">
        <div class="row nav_direction">
            <div class="col-12">
              <ol class="breadcrumb">
                <li><a href="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                  </svg></a></li>
                  <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                  </svg>User Management</li>
                  <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                  </svg>Change Password</li>
              </ol>
            </div>
        </div>
        <div class="h-150 min-h-150 max-h-150 border-2 border-gray-300 bg-wt p-4 table-wrap">
            <div class="page-title">
              <h3>Change Password</h3>
            </div>
        <form class="mt-8 p-5 w-75 mx-auto bg-white" [formGroup]="changepasswordform" #signInNgForm="ngForm">
        <!-- Email field -->
        <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input id="loginPass" matInput [formControlName]="'pwd'" type="password" #passwordField>
            <button  mat-icon-button type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error *ngIf="changepasswordform.get('pwd').hasError('required')"> Password is required </mat-error>
        </mat-form-field>
        <mat-error style="float: left; font-size: 14px; margin-bottom: 20px;" class="errorMsg-feedback"
            *ngIf="f.pwd.touched && f.pwd.errors && f.pwd.value !== ''">Password should meet the following criteria:
            <ul style="list-style-type:circle;padding-left: 24px;">
                <li>Contain at least 8 characters</li>
                <li>Contain at least 1 number</li>
                <li>Contain at least 1 lowercase character (a-z)</li>
                <li>Contain at least 1 uppercase character (A-Z)</li>
            </ul>
        </mat-error>
        <!-- Password field -->
        <mat-form-field class="w-full">
            <mat-label>Confirm Password</mat-label>
            <input  id="confirmPass" matInput type="password" [formControlName]="'confirmPass'"  #passwordField>
            <button  mat-icon-button type="button"
                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                matSuffix>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'password'"
                    [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                <mat-icon
                    class="icon-size-5"
                    *ngIf="passwordField.type === 'text'"
                    [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
            </button>
            <mat-error>
                Confirm password is required
            </mat-error>
        </mat-form-field>
        <mat-error style="margin-bottom: 20px;" *ngIf="!isPasswordMatching() && changepasswordform.controls.confirmPass.value !== ''">
            Confirm password should match with password
        </mat-error>
        <ngx-recaptcha2 siteKey="6LfS3OYdAAAAAP7Xt5GrMYQsGhTItjfTYtUaxBzB" (success)="handleSuccess($event)" [size]="size"
            [hl]="lang" [theme]="theme" [type]="type" formControlName="recaptcha">
        </ngx-recaptcha2>

        <div class="flex">
        <!-- Submit button -->
            <button
                class="fuse-mat-button-large w-50 mt-6"
                mat-flat-button
                [color]="'primary'"
                [disabled]="!changepasswordform.valid || !isPasswordMatching()"
                (click)="onSubmit()">
                <span *ngIf="!changepasswordform.disabled">
                    Submit
                </span>
                <mat-progress-spinner
                    *ngIf="changepasswordform.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </div>       
    </form>   
    </div>
</div>        
