<div class="flex flex-col flex-auto min-w-0">

  <!-- Main -->
  <div class="flex-auto p-6 sm:p-10">
      <div class="row nav_direction">
          <div class="col-12">
            <ol class="breadcrumb">
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg></li>
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
              </svg>User Management</li>
              <li><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>User</li>
            </ol>
          </div>
      </div>
      <!-- CONTENT GOES HERE -->
      <div class="h-150 min-h-150 max-h-150 border-2 border-gray-300 bg-wt p-4 table-wrap">
        <div class="page-title">
          <h3>All User</h3>
        </div>
        <div class="btn-panel"><button type="button" (click)="CreateRow()" >Create User</button></div>

        <div *ngIf="loader" id="loader">
          <div class="flex items-center justify-center">
            <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div> 
        <div class="w-full mb-4 text-right">
          Search: 
          <input
            #search
            id="search"
            type="text"
            class="search-table form-control w-60 inline-block"
            aria-label="Search"
            aria-describedby="basic-addon1"
          />
        </div>
        <div *ngIf="displayTable">
          <ngx-datatable *ngIf="dataSource.length > 0" class="material w-full" style="height: 500px;" [rows]="dataSource" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="50" [limit]="10" [count]="dataSource.length" [scrollbarV]="true">
            
            <ngx-datatable-column name="SrNo">
              <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>{{rowIndex+1}}</ng-template>
            </ngx-datatable-column>
            
              <ngx-datatable-column *ngFor="let column of columns; 
                let i = index;" name="{{column.prop}}"
                prop="{{column.prop}}">
              </ngx-datatable-column>
  
              
              <ngx-datatable-column name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <div class="action_icon">
                  <svg xmlns="http://www.w3.org/2000/svg" (click)="editRow(row.id)" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" (click)="deleteRow(row.id,row.name)" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                  </svg>
                </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>


        <!--
        <div *ngIf="!displayTable">
          <div class="flex items-center justify-center">
            <div class="spinner-border animate-spin inline-block w-8 h-8 border-4 rounded-full" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
        <div [ngClass]="{'opacity-0': !displayTable}">
          <table datatable [dtOptions]="dtOptions" class="row-border hover">
            <thead>
              <tr>
                <th class="text-left">ID</th>
                <th class="text-left">Name</th>
                <th class="text-left">User Id</th>
                <th class="text-left">Email</th>
                <th class="text-left">Mobile</th>
                <th class="text-left">Role</th>
                <th class="text-left">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of dataSource" class="data-tr">
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.userid}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.Role}}</td>
                <td (click)="openMenu(user.id)" class="cursor-pointer"><mat-icon #openmenu >more_vert</mat-icon>
                  <ul class="data-menu row_icon" *ngIf="openlist && user.id == recId">
                    <li (click)="editRow(user.id)"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                      <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                    </svg>Edit</li>
                    <li (click)="deleteRow(user.id,user.name)"><svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>Delete</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>-->

      </div>
  </div>
</div>
<!--Start of edit user modal-->
<div class="overlay" *ngIf="modalopen"></div>
<div class="modal-content" *ngIf="editmodalopen">
<div class="modal-body">
<div class="card">
<div class="card-header"><h3 class=" mb-0">Edit User</h3></div>

<div class="card-body">
  <form class="needs-validation" novalidate="" [formGroup]="editform">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="name">
          Name* 
        </label>
        <input class="form-control" name="name" id="name" [formControlName]="'name'" placeholder="Name" type="text"/>

        <div class="errorMsg-feedback"
         *ngIf="f.name && f.name.touched && f.name.invalid && f.name.errors.required">Required</div>

        <div style="margin-top: .25rem;" class="alert alert-danger"
        *ngIf="f.name && f.name.touched && f.name.invalid && f.name.errors.required">Name is required</div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="userid">
          User Id*
        </label>
        <input name="userid" id="userid" [formControlName]="'userid'" placeholder="User Id" type="text" class="form-control"/>
        <div class="errorMsg-feedback" *ngIf="f.userid && f.userid.touched && f.userid.hasError('required')">Required</div>
      </div>
    </div>
    <div class="form-row">
      

      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="email">
          Email*
        </label>

        <input id="email" [formControlName]="'email'" placeholder="Email" type="email" class="form-control"/>
        <div class="errorMsg-feedback" *ngIf="f.email && f.email.touched && f.email.hasError('required')">Email Id Required</div>
        <div class="errorMsg-feedback" *ngIf="f.email && f.email.touched && f.email.errors?.pattern">Please Enter Valid Email Id</div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="mobile">
          Mobile
        </label>

        <input name="mobile" id="mobile" maxlength="10" [formControlName]="'mobile'" placeholder="Mobile" type="number" class="form-control"/>
        <div class="errorMsg-feedback" *ngIf="f.mobile && f.mobile.touched && f.mobile.hasError('required')">Mobile No Required</div>
      </div>
    </div>

    <div class=" form-row">
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="loginPass">
          Password*
        </label>
        <input name="pwd" id="loginPass" [formControlName]="'pwd'" required minlength="8" placeholder="Password" type="password" class="form-control">
        <div class="errorMsg-feedback" *ngIf="f.pwd && f.pwd.touched && f.pwd.hasError('required')">Password Required</div>
        
        <!-- <div class="errorMsg-feedback"
        *ngIf="f.pwd && f.pwd.touched && f.pwd.errors &&f.pwd.errors.minlength">Password should be 8 character</div> -->
        <div style="float: left; font-size: 14px; margin-bottom: 20px;" class="errorMsg-feedback"
          *ngIf="f.pwd.touched && f.pwd.errors && f.pwd.value !== ''">Password should meet the following criteria:
            <ul style="list-style-type:circle;padding-left: 24px;">
              <li>Contain at least 8 characters</li>
              <li>Contain at least 1 number</li>
              <li>Contain at least 1 lowercase character (a-z)</li>
              <li>Contain at least 1 uppercase character (A-Z)</li>
            </ul>
        </div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="confirmPass">
          Confirm Password*
        </label>

        <input name="confirmPass" id="confirmPass" [formControlName]="'confirmPass'" placeholder="Confirm Password" type="password" class="form-control">
        <!-- <div class="errorMsg-feedback" *ngIf="f.confirmPass && f.confirmPass.touched && f.confirmPass.hasError('required')">Confirm Password Required</div> -->
        <div class="errorMsg-feedback" *ngIf="f.confirmPass && f.confirmPass.touched && f.confirmPass.value !== f.pwd.value" >
          Password and Confirm Password must be match.</div>
      </div>
    </div> 
    <div class=" form-row">
      
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="sysRoleID">
          Role*
        </label>
        <select name="role" data-toggle="select" id="sysRoleID" class="form-control" placeholder="role" (change)="selectRole($event)">
          <option value=""> Select Role Name </option>
          <option *ngFor="let role of roleList" [value]="role.id" [selected]="role.roleName == roleEdit">{{role.roleName}}</option>
        </select>
        <!--<input name="role" id="loginPass" [formControlName]="'role'" required minlength="8" placeholder="Role" type="text" class="form-control">-->
        <div class="errorMsg-feedback" style="float: left; font-size: 14px; margin-bottom: 20px;" *ngIf="f.sysRoleID && f.sysRoleID.touched && f.sysRoleID.hasError('required')">Role Required</div>
       
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="Remarks">
          Remarks
        </label>

        <input name="Remarks" id="Remarks" [formControlName]="'Remarks'" placeholder="Remarks" type="text" class="form-control"/>
      </div>
    </div>
    <div class=" form-row">
      <button class="btn btn-primary" [disabled]="editform.invalid || f.confirmPass.value !== f.pwd.value" type="submit" (click)="editRowdata()">
        Submit
      </button>
      <button type="button" class="btn btn-warning" (click)="closeeditDialog()">Close</button>
    </div>
  </form>
</div>
</div>
</div>
</div>
<!--End of edit user modal-->
<!--Start of create user modal-->
<div class="modal-content" *ngIf="createmodalopen">
<div class="modal-body">
<div class=" card">
<div class=" card-header"><h3 class=" mb-0">Create User</h3></div>

<div class="card-body">
  <form class="needs-validation" [formGroup]="AddUserForm">
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="username">
          Name* 
        </label>
        <input class="form-control" name="username" id="username" [formControlName]="'username'" placeholder="Name" type="text"/>

        <div class="errorMsg-feedback"
         *ngIf="cf.name && cf.name.touched && cf.name.invalid && cf.name.errors.required">Required</div>

        <div style="margin-top: .25rem;" class="alert alert-danger"
        *ngIf="cf.name && cf.name.touched && cf.name.invalid && cf.name.errors.required">Name is required</div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="userid">
          User Id*
        </label>
        <input name="userid" id="userid" [formControlName]="'userid'" placeholder="User Id" type="text" class="form-control"/>
        <div class="errorMsg-feedback" *ngIf="cf.userid && cf.userid.touched && cf.userid.hasError('required')">Required</div>
      </div>
    </div>
    <div class="form-row">
      

      <div class="col-md-6 mb-3">
        <label
         class="form-control-label"
          for="email"
        >
          Email*
        </label>

        <input id="email" formControlName="email" placeholder="Email" type="email" class="form-control"/>
        <div class="errorMsg-feedback" *ngIf="cf.email && cf.email.touched && cf.email.hasError('required')">Email Id Required</div>
        <div class="errorMsg-feedback" *ngIf="cf.email && cf.email.touched && cf.email.errors?.pattern">Please Enter Valid Email Id</div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="mobile">
          Mobile
        </label>

        <input name="mobile" id="mobile" maxlength="10" [formControlName]="'mobile'" placeholder="Mobile" type="number" class="form-control"/>
        <div class="errorMsg-feedback" *ngIf="cf.mobile && cf.mobile.touched && cf.mobile.hasError('required')">Mobile No Required</div>
      </div>
    </div>

    <div class=" form-row">
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="loginPass">
          Password*
        </label>
        <input name="pwd" id="loginPass" [formControlName]="'pwd'" required minlength="8" placeholder="Password" type="password" class="form-control">
        <div class="errorMsg-feedback" *ngIf="cf.pwd && cf.pwd.touched && cf.pwd.hasError('required')">Password Required</div>
        
        <div class="errorMsg-feedback" style="float: left; font-size: 14px; margin-bottom: 20px;" 
        *ngIf="cf.pwd && cf.pwd.touched && cf.pwd.errors &&cf.pwd.errors.minlength">Password should be 8 character</div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="confirmPass">
          Confirm Password*
        </label>

        <input name="confirmPass" id="confirmPass" [formControlName]="'confirmPass'" placeholder="Confirm Password" type="password" class="form-control">
        <!-- <div class="errorMsg-feedback" *ngIf="cf.confirmPass && cf.confirmPass.touched && cf.confirmPass.hasError('required')">Confirm Password Required</div> -->
        <div class="errorMsg-feedback" style="float: left; font-size: 14px; margin-bottom: 20px;" *ngIf="cf.confirmPass && cf.confirmPass.touched && cf.confirmPass.value !== cf.pwd.value" >
          Password and Confirm Password must be match.</div>
     
      </div>
    </div> 
    <div class=" form-row">
      
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="sysRoleID">
          Role*
        </label>
        <select name="role" data-toggle="select" [formControlName]="'role'" id="sysRoleID" class="form-control" placeholder="role" (change)="selectRole($event)">
          <option value=""> Select Role Name </option>
          <option *ngFor="let role of roleList" [value]="role.id">{{role.roleName}}</option>
        </select>
       <!-- <input name="role" id="loginPass" [formControlName]="'sysRoleID'" required minlength="8" placeholder="Role" type="text" class="form-control">-->
        <div class="errorMsg-feedback" *ngIf="cf.sysRoleID && cf.sysRoleID.touched && cf.sysRoleID.hasError('required')">Role Required</div>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-control-label" for="Remarks">
          Remarks
        </label>

        <input name="Remarks" id="Remarks" [formControlName]="'Remarks'" placeholder="Remarks" type="text" class="form-control"/>
      </div>
    </div>
    <div class="form-row">
      <button class="btn btn-primary" [disabled]="AddUserForm.invalid || cf.confirmPass.value !== cf.pwd.value" type="button" (click)="createRowData()">
        Submit
      </button>
      <button type="button" class="btn btn-warning" (click)="closeDialog()">Close</button>
    </div>
  </form>
</div>
</div>
</div>
</div>
<!--End of create user modal-->